/* src/pages/Dashboard/Tournaments/components/PlayersTab/PlayersTab.css */

.players-tab {
  display: flex;
  flex-direction: column;

  gap: 20px;
}

/* SEARCH */

.players-search input {
  width: 100%;

  padding: 14px 18px;

  border-radius: 16px;

  border: 1px solid
    rgba(255,255,255,0.06);

  background:
    rgba(255,255,255,0.03);

  color: white;

  outline: none;

  transition: 0.2s;
}

.players-search input:focus {
  border-color:
    rgba(255,200,0,0.3);

  box-shadow:
    0 0 18px
    rgba(255,200,0,0.08);
}

/* GRID */

.players-grid {
  display: grid;

  grid-template-columns:
    repeat(auto-fit, minmax(260px, 1fr));

  gap: 16px;
}